<footer class="no-print fixed bottom-0 left-0 w-full z-50 flex justify-between items-center px-margin py-2 bg-primary dark:bg-tertiary-container text-on-primary dark:text-on-tertiary-container">
    <div class="font-data-sm text-data-sm font-black uppercase">LOOK AT WHAT THEY'VE DONE</div>
    <div class="font-data-sm text-data-sm uppercase tracking-tighter opacity-70">RESTRICTED ACCESS - LEVEL 4 CLEARANCE REQUIRED</div>
    <div class="flex gap-4 font-data-sm text-data-sm uppercase">
    <a class="hover:opacity-100 opacity-70 transition-all underline decoration-1" href="#">DECLASSIFY</a>
    <a class="hover:opacity-100 opacity-70 transition-all underline decoration-1" href="#">CONTACT_ADMIN</a>
    <a class="hover:opacity-100 opacity-70 transition-all underline decoration-1" href="#">TERMINATE_SESSION</a>
    </div>
</footer>