<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page.title }} | {{ site.title }}</title>
        <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    </head>
    <body>

    {% include header.html %}

    <main style="max-width: 800px; margin: 0 auto; padding: 0 20px;">
        {{ content }}
    </main>

    {% include footer.html %}

    </body>

    <div style="position: absolute; top: 0; left: 0; border-top: 2px solid black; border-left: 2px solid black; width: 20px; height: 20px;"></div>
    <div style="position: absolute; top: 0; right: 0; border-top: 2px solid black; border-right: 2px solid black; width: 20px; height: 20px;"></div>
    <div style="position: absolute; bottom: 0; left: 0; border-bottom: 2px solid black; border-left: 2px solid black; width: 20px; height: 20px;"></div>
    <div style="position: absolute; bottom: 0; right: 0; border-bottom: 2px solid black; border-right: 2px solid black; width: 20px; height: 20px;"></div>
</html>